body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  h1 {
    color: #3498db;
  }
  
  input {
    font-size: 16px;
    padding: 5px;
    margin: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  #attempts {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  button:disabled {
    cursor: not-allowed;
    background-color: #ccc;
  }
  